*{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#nav-bar{
    background-color: beige;
    padding: 50px;
    position: fixed;
    width:25%;
    height:100%;
}
#content{
    background-color: rgb(186, 203, 224);
    line-height: 30px;
    padding:50px;
    width:75%;
    margin-left: 25%;
}
#details, #name{
    padding-bottom: 20px;
}
#nav-bar li, a{
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
}
#name{
    color:brown;
}
#content h3{
    color:rgb(108, 3, 44);
    text-decoration: underline;
}
#content li{
    margin-left: 35px;
}
#skills> ul{
    column-count: 2;
}
#details{
    line-height: 35px;
}
table{
    width: 70%;
}
#links{
    margin: 35px;
}
#links a{
    padding-right: 100px;
    padding-left: 10px;
}
.section{
    padding-bottom: 30px;
}
